<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8"></meta>
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"></link>
		
	   <title>Lihat Data Keluarga</title>
	</head>
	<body>
		<div class="container">
			<div th:replace="fragments/fragment :: navbar"></div>
			<div class="row">
				<div class="col">
					<br></br>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col">
							<h5 th:text="'Lihat Data Keluarga - ' + ${km.nomorKk}"></h5>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<b>NKK</b>
						</div>
						<div class="col">
							<div th:text="${km.nomorKk}"></div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<b>Alamat</b>
						</div>
						<div class="col">
							<div th:text="${km.alamat}"></div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<b>RT/RW</b>
						</div>
						<div class="col">
							<div th:text="${km.rt} + '/' + ${km.rw}"></div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<b>Kelurahan/Desa</b>
						</div>
						<div class="col">
							<div th:text="${kelm.namaKelurahan}"></div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<b>Kecamatan</b>
						</div>
						<div class="col">
							<div th:text="${kecm.namaKecamatan}"></div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<b>Kota</b>
						</div>
						<div class="col">
							<div th:text="${kotm.namaKota}"></div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<hr/>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="table-responsive">
								<table class="table table-striped table-condensed">
									<thead>
										<tr>
											<th>No</th>
											<th>Nama Lengkap</th>
											<th>NIK</th>
											<th>Jenis Kelamin</th>
											<th>Tempat Lahir</th>
											<th>Agama</th>
											<th>Pekerjaan</th>
											<th>Status Perkawinan</th>
											<th>Status Dalam Keluarga</th>
											<th>Kewarganegaraan</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="anggotakeluarga,iterationStatus: ${listkeluarga}">
											<td th:text="${iterationStatus.count}">No. 1</td>
											<td th:text="${anggotakeluarga.nama}">Anggota Keluarga Nama</td>
											<td th:text="${anggotakeluarga.nik}">Anggota Keluarga NIK</td>
											<td th:text="${anggotakeluarga.jenisKelamin} == '0' ? 'Laki-laki' : 'Perempuan'">Anggota Keluarga Jenis Kelamin</td>
											<td th:text="${anggotakeluarga.tempatLahir}">Anggota Keluarga Tempat Lahir</td>
											<td th:text="${anggotakeluarga.agama}">Anggota Keluarga Agama</td>
											<td th:text="${anggotakeluarga.occupation}">Anggota Keluarga Pekerjaan</td>
											<td th:text="${anggotakeluarga.statusPerkawinan}">Anggota Keluarga Status Perkawinan</td>
											<td th:text="${anggotakeluarga.statusDalamKeluarga}">Anggota Keluarga Status Dalam Keluarga</td>
											<td th:text="${anggotakeluarga.isWni} == '1' ? 'WNI' : 'WNA'">Anggota Keluarga WNI</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	</body>
</html>